.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 40px 0;
}

.pager {
  color: rgb(100,200,200);
  
}

.prev {
  position: relative;
  &::after {
    content: '';
    border-top: 1px solid;
    border-left: 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%) rotate(-45deg);
    height: 8px;
    width: 8px;
    pointer-events: none;
  }
}

.next {
  position: relative;
  &::after {
    content: '';
    border-top: 1px solid;
    border-right: 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%) rotate(45deg);
    height: 8px;
    width: 8px;
    pointer-events: none;
  }
}

.number {
  position: relative;
  padding: .5em .7em;
  font-size: 1.6rem;
  &::before {
    position: absolute;
    content: "";
    background-color: #333;
    opacity: 0;
    height: 1px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &::after {
    position: absolute;
    content: "";
    background-color: #333;
    opacity: 0;
    height: 1px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &.current {
    pointer-events: none;
    &::after {
      opacity: 0.6;
    }
  }
  &:hover {
    &::before {
      opacity: 0.6;
    }
  }
}
