.header {
  align-items: center;
  background-color: var(--color-bg-gray-light);
  display: flex;
  // height: 80px;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--content-width);
}

.title {
  padding: 15px 0;
}

.nav {
  display: flex;
  margin-top: 25px;
  gap: 10px;
  font-size: 1.6rem;
}
