.articleList {
  border-bottom: 1px solid rgba(200,200,200,.5);
  padding: 70px;
  cursor: pointer;
  // display: flex;
  // align-items: flex-start;
  // justify-content: space-between;
  // &:nth-child(even) {
  //   flex-direction: row-reverse;
  // }
  &:nth-child(2n) {
    & .link {
      flex-direction: row-reverse;
    }
  }
}

.link {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.thumnail {
  width: 280px;
  // border: 1px solid;
}

.image {
  width: 100%;
}

.post {
  width: 60%;
}

.time {
  color: #808080;
  font-size: 1.2rem;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
}

.text {
  color: #808080;
  font-size: 1.4rem;
}
