.container {
  // background-color: seashell;
  margin: 80px auto 0;
  // margin-top: 80px;
  max-width: var(--content-width);
}

.articleList {
  border-bottom: 1px solid rgba(200,200,200,.5);
  padding: 70px;
  // cursor: pointer;
  &:nth-child(2n) {
    & .link {
      flex-direction: row-reverse;
    }
  }
  &:hover {
    & .image {
      opacity: .6;
      transform: scale(1.1);
    }
    & .more::before {
      transform: translateX(10px) rotate(45deg);
    }
    & .more::after {
      transform: translateX(10px);
    }
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thumnail {
  width: 280px;
  height: 150px;
  // border: 1px solid;
  overflow: hidden;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 4px 4px -4px rgb(0 0 0 / 10%);
}

.image {
  width: 100%;
  height: 100%;
  transition: all .4s;
}

.post {
  position: relative;
  width: 60%;
}

.time {
  color: #808080;
  font-size: 1.4rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.text {
  color: #808080;
  font-size: 1.6rem;
}

.more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 10px;
  transform: translateX(-12px);
  &::after {
    position: absolute;
    content: '';
    width: 20%;
    background-color: rgba(200,200,200,.8);
    height: 1px;
    // margin-top: 25px;
    transition: all .4s;
  }
  &::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    // border: 1px solid;
    border-top: 1px solid rgba(200,200,200,.8);
    border-right: 1px solid rgba(200,200,200,.8);
    transform: rotate(45deg);
    transition: all .4s;
  }
}

.moreText {
  position: relative;
  font-size: 1.4rem;
  transform: translate(-75px, 10px);
  z-index: 2;
}
